<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!--  For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468  -->
    <!-- <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" /> -->
  </configSections>
  <connectionStrings />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="secret" value="h3bpm" />
    <add key="BPMEngine" value="Servers=10.2.98.48:8211;User=administrator;Password=000000;Engine=DefaultEngine;" />
    <add key="hxxf" value="Server=10.2.102.62;Database=HXXF_MASTERDATA;Uid=sa;Pwd=H3passw0rd" />
    <!-- <add key="BPMEngine" value="Servers=127.0.0.1:6024;User=administrator;Password=000000;Engine=H3CLOUD_HXC;" /> -->
    <!-- <add key="BPMEngine" value="Servers=127.0.0.1:8211;User=administrator;Password=000000;Engine=DefaultEngine;" /> -->
    <!-- Oracle -->
    <!-- <add key="BPMEngine" value="Servers=127.0.0.1:8212;User=administrator;Password=000000;Engine=DefaultEngine;" /> -->
    <add key="PortalRoot" value="/Portal" />
    <add key="PreviewHost" value="https://view.h3yun.com" />
    <add key="PreviewToken" value="h3yun" />
    <add key="vs:EnableBrowserLink" value="false" />

  </appSettings>



  <location path="Index">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BPM">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WorkItemSheets">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="InstanceSheets">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="StartInstance">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MvcDefaultSheet.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="HybridApp">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WeChat">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DingTalk">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ReadAttachment">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="template/ddhome.html">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="m.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WorkflowDesigner">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Webservices">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Mobile">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off" />
    <pages validateRequest="false" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <authentication mode="Forms">
      <forms name="login" loginUrl="#/platform/login" protection="All" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="2048000" maxQueryStringLength="10240" />

    <httpHandlers>
      <add path="setting.xml" verb="*" type="System.Web.HttpForbiddenHandler" />
      <!-- 验证码图片的请求处理 -->
      <add verb="GET" path="ImageVerifier.axd" type="CFLD.SSO.WebSite.Controls.ImageVerifier, CFLD.SSO.Utility" />

      <!--退出系统的相关Handler-->
      <add path="wd_sso_logout.axd" verb="*" type="CFLD.SSO.NClient.SsoLogoutHttpHandler,CFLD.SSO.Agent" />
      <!--禁用或启用系统相关Handler-->
      <add path="updateIsForbidden.axd" verb="*" type="CFLD.SSO.NClient.SsoForbiddenSystemHttpHandler,CFLD.SSO.Agent" />

      <!--LocalModel登陆、验证、退出系统的相关Handler-->
      <add path="cfld_sso_localmodel_login.axd" verb="*" type="CFLD.SSO.NClient.SsoLocalModelHttpHandler,CFLD.SSO.Agent" />
      <add path="cfld_sso_localmodel_exit.axd" verb="*" type="CFLD.SSO.NClient.SsoLocalModelLogoutHttpHandler,CFLD.SSO.Agent" />
      <add path="VerifyCodeAndRememberPwd.axd" verb="*" type="CFLD.SSO.NClient.SsoLocalModelCodeAndPwdHttpHandler,CFLD.SSO.Agent" />

      <!--系统升级相关Handler-->
      <add path="cfld_sso_Quartz_FileUpdate.axd" verb="*" type="CFLD.SSO.QuartzService.QuartzHanlder,CFLD.SSO.QuartzService" />
      <add path="cfld_sso_Quartz_KeyUpdate.axd" verb="*" type="CFLD.SSO.NClient.SsoSecurityKeyUpdateHttpHandler,CFLD.SSO.Agent" />
    </httpHandlers>
    <httpModules>
      <!--检查是否通过身份认证-->
      <add name="ClaimsPrincipalHttpModule" type="CFLD.SSO.NClient.ClaimsPrincipalHttpModule, CFLD.SSO.Agent" />
      <!--检查授权是否正确-->
      <add name="ClaimsAuthorizationHttpModule" type="CFLD.SSO.NClient.ClaimsAuthorizationHttpModule, CFLD.SSO.Agent" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <!--检查是否通过身份认证-->
      <add name="ClaimsPrincipalHttpModule" type="CFLD.SSO.NClient.ClaimsPrincipalHttpModule, CFLD.SSO.Agent" />
      <!--检查授权是否正确-->
      <add name="ClaimsAuthorizationHttpModule" type="CFLD.SSO.NClient.ClaimsAuthorizationHttpModule, CFLD.SSO.Agent" />
    </modules>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/javascript" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="10240" />

      </requestFiltering>
    </security>

    <validation validateIntegratedModeConfiguration="false"></validation>
    <handlers>
      <add name="setting.xml" path="setting.xml" verb="*" type="System.Web.HttpForbiddenHandler" />

      <!--退出系统的相关Handler-->
      <add name="wd_sso_logout.axd" path="wd_sso_logout.axd" verb="*" type="CFLD.SSO.NClient.SsoLogoutHttpHandler,CFLD.SSO.Agent" />
      <!--禁用或启用系统相关Handler-->
      <add name="updateIsForbidden.axd" path="updateIsForbidden.axd" verb="*" type="CFLD.SSO.NClient.SsoForbiddenSystemHttpHandler,CFLD.SSO.Agent" />

      <!--LocalModel登陆、验证、退出系统的相关Handler-->
      <add name="cfld_sso_localmodel_login.axd" path="cfld_sso_localmodel_login.axd" verb="*" type="CFLD.SSO.NClient.SsoLocalModelHttpHandler,CFLD.SSO.Agent" />
      <add name="cfld_sso_localmodel_exit.axd" path="cfld_sso_localmodel_exit.axd" verb="*" type="CFLD.SSO.NClient.SsoLocalModelLogoutHttpHandler,CFLD.SSO.Agent" />
      <add name="VerifyCodeAndRememberPwd.axd" path="VerifyCodeAndRememberPwd.axd" verb="*" type="CFLD.SSO.NClient.SsoLocalModelCodeAndPwdHttpHandler,CFLD.SSO.Agent" />

      <!--系统升级相关Handler-->
      <add name="cfld_sso_QuartzService.axd" path="cfld_sso_QuartzService.axd" verb="*" type="CFLD.SSO.QuartzJob.SystemUpgradeHandler,CFLD.SSO.QuartzJob" />
      <add name="cfld_sso_Quartz_FileUpdate.axd" path="cfld_sso_Quartz_FileUpdate.axd" verb="*" type="CFLD.SSO.QuartzService.QuartzHanlder,CFLD.SSO.QuartzService" />
      <add name="cfld_sso_Quartz_KeyUpdate.axd" path="cfld_sso_Quartz_KeyUpdate.axd" verb="*" type="CFLD.SSO.NClient.SsoSecurityKeyUpdateHttpHandler,CFLD.SSO.Agent" />

    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Portal/index.html" />

      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
